{% extends 'header.html' %}
{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="../static/style/car.min.css">
{% endblock %}
{% block content %}
    <div class="top">
        <div class="top_h1">Vehicle Fleet</div>
    </div>

    <div class="bottom">
        <div class="bottom_left">
            <div class="bottom_left_images">
                <img src="{{ car.photo }}" class="bottom_left_images_img">
                <img src="{{ car.photo2 }}" class="bottom_left_images_img">
                <img src="{{ car.photo3 }}" class="bottom_left_images_img">
                <img src="{{ car.photo4 }}" class="bottom_left_images_img">


            </div>
            <div class="bottom_left_disable">
                <img src="{{ car.photo }}" class="bottom_left_disable_img active">
                <img src="{{ car.photo2 }}" class="bottom_left_disable_img">
                <img src="{{ car.photo3 }}" class="bottom_left_disable_img">
                <img src="{{ car.photo4 }}" class="bottom_left_disable_img">
            </div>
        </div>
        <div class="bottom_center">
            <h3 class="bottom_center_h3">{{ car.name }}</h3>
            <p class="bottom_center_p">{{ car.about}}</p>
            <div class="bottom_center_space"></div>
            <h3 class="bottom_center_h3">Specifications</h3>
            <div class="bottom_center_spetsolnist">
                <div class="bottom_center_spetsolnist_bottom">
                    <div class="bottom_center_spetsolnist_bottom_title">
                        Body
                    </div>
                    <div class="bottom_center_spetsolnist_bottom_name">
                        {{ car.body }}
                    </div>
                </div>
                <div class="bottom_center_spetsolnist_bottom">
                    <div class="bottom_center_spetsolnist_bottom_title">
                        Seat
                    </div>
                    <div class="bottom_center_spetsolnist_bottom_name">
                        {{ car.seat }} seats
                    </div>
                </div>
                <div class="bottom_center_spetsolnist_bottom">
                    <div class="bottom_center_spetsolnist_bottom_title">
                        Door
                    </div>
                    <div class="bottom_center_spetsolnist_bottom_name">
                        {{ car.doors }} doors

                    </div>
                </div>
                <div class="bottom_center_spetsolnist_bottom">
                    <div class="bottom_center_spetsolnist_bottom_title">
                        Luggage
                    </div>
                    <div class="bottom_center_spetsolnist_bottom_name">
                        {{ car.looggage }}

                    </div>
                </div>
                <div class="bottom_center_spetsolnist_bottom">
                    <div class="bottom_center_spetsolnist_bottom_title">
                        Fuel Type
                    </div>
                    <div class="bottom_center_spetsolnist_bottom_name">
                        {{ car.fuel_type }}

                    </div>
                </div>
                <div class="bottom_center_spetsolnist_bottom">
                    <div class="bottom_center_spetsolnist_bottom_title">
                        Engine
                    </div>
                    <div class="bottom_center_spetsolnist_bottom_name">
                        {{ car.engine }}

                    </div>
                </div>

                <div class="bottom_center_spetsolnist_bottom">
                    <div class="bottom_center_spetsolnist_bottom_title">
                        Year
                    </div>
                    <div class="bottom_center_spetsolnist_bottom_name">
                        {{ car.year }}

                    </div>
                </div>

                <div class="bottom_center_spetsolnist_bottom">
                    <div class="bottom_center_spetsolnist_bottom_title">
                        Mileage
                    </div>
                    <div class="bottom_center_spetsolnist_bottom_name">
                        {{ car.milieage }}

                    </div>
                </div>
                <div class="bottom_center_spetsolnist_bottom">
                    <div class="bottom_center_spetsolnist_bottom_title">
                        Transmission
                    </div>
                    <div class="bottom_center_spetsolnist_bottom_name">
                        {{ car.transmission }}

                    </div>
                </div>
                <div class="bottom_center_spetsolnist_bottom">
                    <div class="bottom_center_spetsolnist_bottom_title">
                        Drive
                    </div>
                    <div class="bottom_center_spetsolnist_bottom_name">
                        {{ car.drive }}

                    </div>
                </div>
                <div class="bottom_center_spetsolnist_bottom">
                    <div class="bottom_center_spetsolnist_bottom_title">
                        Fuel Economy
                    </div>
                    <div class="bottom_center_spetsolnist_bottom_name">
                        {{car.fuel_econmy }}

                    </div>
                </div>
                <div class="bottom_center_spetsolnist_bottom">
                    <div class="bottom_center_spetsolnist_bottom_title">
                        Exterior Color
                    </div>
                    <div class="bottom_center_spetsolnist_bottom_name">
                        {{ car.exterior_color }}

                    </div>
                </div>
                <div class="bottom_center_spetsolnist_bottom">
                    <div class="bottom_center_spetsolnist_bottom_title">
                        Interior Color
                    </div>
                    <div class="bottom_center_spetsolnist_bottom_name">
                        {{ car.interir_color }}

                    </div>
                </div>
            </div>
            <h3 class="bottom_center_h4">Features</h3>
            <div class="bottom_center_feature">

                <ul class="bottom_center_feature_ul">
                    <li class="bottom_center_feature_ul_li"><i class="fa-solid fa-check" style="color: #199e1c;"></i>
                        Bluetooth
                    </li>
                    <li class="bottom_center_feature_ul_li"><i class="fa-solid fa-check" style="color: #199e1c;"></i>
                        Multimedia Player
                    </li>
                    <li class="bottom_center_feature_ul_li"><i class="fa-solid fa-check" style="color: #199e1c;"></i>
                        Central Lock
                    </li>
                    <li class="bottom_center_feature_ul_li"><i class="fa-solid fa-check" style="color: #199e1c;"></i>
                        Sunroof
                    </li>
                </ul>
            </div>
        </div>

        <div class="bottom_right">
            <div class="bottom_right_top">
                <div class="bottom_right_top_daily">
                    Daily rate
                </div>
                <div class="bottom_right_top_prise">
                    {{ car.prise }}
                </div>
            </div>
            <form class="bottom_right_bottom" action="{{ url_for('car',id=id) }}" method="post">
                <div class="bottom_right_bottom_title">Booking this car</div>
                <div class="spae"></div>
                <div class="bottom_right_bottom_h1">

                    Pick Up Location
                </div>
                <input type="text" name="pic_loc" placeholder="Enter your pickup location">
                <div class="bottom_right_bottom_h1">

                    Drop Off Location
                </div>
                <input type="text" name="drop_loc" placeholder="Enter your dropoff location">
                <div class="bottom_right_bottom_h1">

                    Pick Up Date & Time
                </div>
                <input class="bottom_right_bottom_input" name="pic_data" type="datetime-local">
                <div class="bottom_right_bottom_h1">

                    Return Date & Time
                </div>
                <input class="bottom_right_bottom_input" name="ret_data" type="datetime-local">
                {% if user %}
                          <button class="bottom_right_bottom_a">Book Now</button>
                {% endif %}

            </form>
        </div>
    </div>
    <footer>
        <div class="about">
            <div class="about_h1">About Rentaly</div>
            <div class="about_p">In tempor magna non ut labore sunt et in adipisicing do in proident veniam officia
                deserunt mollit velit aliquip sint fugiat reprehenderit sint anim pariatur deserunt id in ut non.
            </div>
        </div>
        <div class="contack">
            <div class="contack_h1">Contack info</div>
            <div class="contack_loc">
                <svg class="contack_loc_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                    <!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                    <path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/>
                </svg>
                <div class="contack_loc_h1">Toshkent ,Mirzo Ulugbek</div>
            </div>
            <div class="contack_num">
                <svg class="contack_num_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                    <path d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/>
                </svg>
                <div class="contack_num_h1">+998950017622</div>
            </div>
            <div class="contack_gmail">
                <svg class="contack_gmail_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                    <path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/>
                </svg>
                <div class="contack_gmail_h1">shahzodomonboyev0@gmail.com</div>
            </div>
        </div>
        <div class="quic">
            <div class="quic_h1">Quick links</div>
            <div class="quic_h2">About</div>
            <div class="quic_h2">Blog</div>
            <div class="quic_h2">News</div>
            <div class="quic_h2">Partners</div>
        </div>
    </footer>

    <script>

        function updateDateTimeInput() {
            const dateTimeInput = document.querySelectorAll(".bottom_right_bottom_input"),
                now = new Date(),
                year = now.getFullYear(),
                month = String(now.getMonth() + 1).padStart(2, '0'),
                day = String(now.getDate()).padStart(2, '0'),
                hours = String(now.getHours()).padStart(2, '0'),
                minutes = String(now.getMinutes()).padStart(2, '0'),
                currentDateTime = `${year}-${month}-${day}T${hours}:${minutes}`;
            dateTimeInput[0].value = currentDateTime;
            dateTimeInput[1].value = currentDateTime;
        }

        updateDateTimeInput()
     const rasm = document.querySelectorAll(".bottom_left_images .bottom_left_images_img");


    const box = document.querySelectorAll(".bottom_left_disable_img");
    box.forEach((item, id) => {
        item.addEventListener("click", () => {
            rem()
            rasm[id].style.transform = ` translateX(${-id * 663}px)`
            item.classList.toggle("active");
        });
    });

    function rem() {
        box.forEach((item, id) => {
            item.classList.remove("active");
        });
    }
    </script>
{% endblock %}